body{

font-family: Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;
padding:40px;
border-radius:10px;
text-align:center;

}

button{

padding:12px 25px;
margin:10px;
font-size:16px;
border:none;
border-radius:6px;
cursor:pointer;

}

#teamA{

background:#27ae60;
color:white;

}

#teamB{

background:#e74c3c;
color:white;

}
